body {
    background: url(https://cdn.pixabay.com/photo/2016/10/20/18/35/earth-1756274_1280.jpg);
    background-size:cover ;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    font-family: 'helvetica', sans-serif;
}
 
#get-chat,
#chatgpt-output,
#current-timestamp {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#past-responses div {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    margin-bottom: 15px;
}